.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-2px);
}
.demo_info{
    position: absolute;
    z-index: 100;
    bottom: 1vh;
    top:auto;
    font-size:80%;
    text-align: center;
    width: 100%;
}
body {
    font:100% / 1.5 Arial;
    
}
